<h1>Welcome to BeetPress!</h1>

<p>This site is for food producers to make all of their products available online. Customers can come here to browse, and producers can use this site to host their product information for sharing on Facebook, Twitter, or any other network.</p>

<p>Check out <a href="/products">what you have setup already</a>.</p>

