<div>
  <h3>{{title}}</h3>
  <p>{{description}}</p>

  <hr/>

  <form name="contactForm">
    <h4>Contact Information</h4>
    <div class="form-group">
      <label>
        Name
        <input type="text" class="form-control" id="name" placeholder="your name"/>
      </label>
    </div>
    <div class="form-group">
      <label>
        Phone Number
        <input type="number" class="form-control" id="phone" placeholder="(000)000-0000"/>
      </label>
    </div>
    <div class="form-group">
      <label>
        Email Address
        <input type="email" class="form-control" id="email"/>
      </label>
    </div>
    <button type="submit" id="submit" class="btn btn-default">Submit</button>
  </form>
</div>