<h1>Products</h1>

<div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          {{#each models}}
              {{view "products/tiny_products" model_name="Product" model=this}}
          {{/each}}          
          <!--/stories-->
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
      {{#store}}
      <div class="panel">
        <div class="panel-body">
          <div class="btn-group" role="group">
            <a href="/products/create" class="btn">
              create product
            </a>
          </div>
        </div>
      </div>
      {{/store}}
    </div><!--/col-12-->
  </div>