<h1>Products</h1>

<div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          {{#each models}}
              {{view "products/tiny_products" model_name="Product" model=this}}
          {{/each}}          
          <!--/stories-->
        </div>
      </div>
    </div><!--/col-12-->
  </div>