<h1>Products</h1>

<div class="list-group">
{{#each models}}
    {{view "products/tiny_products" model_name="Product" model=this}}
{{/each}}
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create A New Product</h3>
  </div>
  <div class="panel-body">
	<form class="form-group">

      <label for="title">Title</label>
		<input id="title" class="form-control" type="text" name="title" placeholder="title"/>

      <label for="description">Description</label>
		<input id="description" class="form-control" type="text" name="description" placeholder="description"/>
		<button class="btn btn-default">add</button>
	</form>
  </div>
</div>