[data-view]
  .loading
    opacity: 0.5

.product-header
	background: url('/images/product-bg.svg')
	background-size: 100% auto

.product-main-img
	height: 110px
.products_show_view .product-main-img
	position: absolute
	top: 109px
	left: 12px

.product-actions
	position: absolute
	top: 148px
.product-actions.left
	right: 9px
.product-actions.right
	left: 134px

.center-title
	text-align: center
.product-ingredients
	margin-top: 19px
.center-image
	margin: 0 auto