[data-view]
  .loading
    opacity: 0.5

.product-header
	background: url('/images/product-bg.svg')

.product-main-img
	height: 110px
	position: absolute
	top: 109px
	left: 12px

.product-actions
	position: absolute
	right: 9px
	top: 148px
.center-title
	text-align: center
.product-ingredients
	margin-top: 36px
.center-image
	margin: 0 auto