<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit: {{name}}</h3>
  </div>
  <div class="panel-body">
	<form>
		<div class="form-group">
			<label for="name">
				Name
			</label>
			<input id="name"
				class="form-control"
				type="text"
				name="name"
				value="{{name}}" />

			<label for="email">
				Email
			</label>
			<input id="email"
				class="form-control"
				type="text"
				name="email"
				value="{{email}}" />

			<label for="username">
				Username
			</label>
			<input id="username"
				class="form-control"
				type="text"
				name="username"
				value="{{username}}" />

			<button class="btn btn-default">submit</button>
		</div>
	</form>
  </div>
</div>