<div>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  {{#each media}}
  <p><img src="url"/></p>
  {{/each}}
  {{#owner this}}
  <a href="/products/{{name}}/edit" class="btn btn-default">edit</a>
  {{/owner}}
</div>